In [9]:
import pandas as pd  # Data manipulation
import numpy as np   # Numerical operations
import os            # Interacting with files

df1 = pd.read_csv("/Users/jakubriha/Desktop/ECO225/Project/Data/loans.csv")
df1.head(10)

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner
5,659605,Gloria,English,"To make a living, Gloria helps her husband wor...",NaN,350.0,350.0,funded,Farming,Agriculture,...,2014-01-21 03:12:06.000 +0000,8.0,13,1,1,NaN,female,true,monthly,field_partner
6,660240,Elsie,English,Elsie and her husband earn well from their ban...,NaN,125.0,125.0,funded,Agriculture,Agriculture,...,2014-01-22 10:35:41.000 +0000,8.0,4,1,1,NaN,female,true,irregular,field_partner
7,661601,Francisco,Spanish,"Francisco, es jefe de su hogar, vive con su fa...","Francisco is the head of his household, living...",1600.0,1600.0,funded,Agriculture,Agriculture,...,2014-02-22 17:52:56.000 +0000,26.0,49,1,1,"user_favorite, #Biz Durable Asset, #Animals, #...",male,true,irregular,field_partner
8,661960,Juanita,English,Juanita is married with six children. Juanita ...,NaN,350.0,350.0,funded,Farming,Agriculture,...,2014-01-27 02:24:03.000 +0000,10.0,13,2,1,NaN,female,true,irregular,field_partner
9,662117,Dukure Group,French,Samia fait partie du groupe Dukure et habit...,"Samia, age 26, is a member of Dukure Group. Sh...",1825.0,1825.0,funded,Clothing,Clothing,...,2014-02-17 16:39:04.000 +0000,10.0,46,1,1,user_favorite,"female, female, female, female","true, true, true, true",monthly,field_partner

69267

In [13]:
# Show first 10 rows where status is NOT "funded" to check what the variables are
df1[df1['status'] != 'funded'].head(10)

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
22,957461,Arcelly,English,Arcelly has started a “Dry Goods” business in ...,Arcelly has started a “Dry Goods” business in ...,100.0,225.0,expired,Retail,Retail,...,NaN,12.0,4,1,1,"#Parent, #Schooling, #Woman Owned Biz",female,true,irregular,field_partner
25,959145,Melania,English,Melania works hard to support her family. Mela...,Melania works hard to support her family. Mela...,225.0,300.0,expired,Fish Selling,Food,...,NaN,11.0,6,1,1,"#Elderly, #Woman Owned Biz, user_favorite",female,true,irregular,field_partner
36,416929,Nabil,English,Nabil is a 57-year-old married father of one c...,NaN,425.0,1000.0,expired,Services,Services,...,NaN,15.0,15,1,1,NaN,male,true,monthly,field_partner
46,419381,Alvaro David,Spanish,El profesor Álvaro David es originario del mun...,\r\nProfessor Álvaro David is from the town of...,275.0,875.0,expired,Vehicle,Personal Use,...,NaN,18.0,11,1,1,NaN,male,true,monthly,field_partner
50,421569,Juan,Spanish,"Juan, es casado y tiene seis hijos con los cua...",Juan is married and has six children he lives ...,325.0,1200.0,expired,Construction Supplies,Construction,...,NaN,14.0,10,1,1,NaN,male,true,monthly,field_partner
118,422210,FELICISIMA,English,"Felicisima, age 59, is a business woman in the...",NaN,500.0,1200.0,expired,Fishing,Food,...,NaN,8.0,20,1,1,NaN,female,true,monthly,field_partner
166,664314,Botirali,Russian,Ботирали житель района Джаббор Расулова города...,Botirali is a resident of the Djabbor Rasulov ...,1725.0,2100.0,expired,Agriculture,Agriculture,...,NaN,15.0,27,1,1,"#Animals, #Parent, user_favorite",male,true,monthly,field_partner
175,959283,Siege De La Sagesse A Group,French,"Kadjuru est commerçante, membre du groupe de c...",Kadjuru is a merchant and a member of the loan...,6025.0,9450.0,expired,Liquor Store / Off-License,Food,...,NaN,8.0,98,1,1,"#Parent, #Elderly, user_favorite","male, female, female, male, female, female","true, true, true, true, true, true",monthly,field_partner
182,961555,Svetlana,English,"Svetlana, teacher by her profession, has been ...","Svetlana, teacher by her profession, has been ...",1000.0,2125.0,expired,Cosmetics Sales,Retail,...,NaN,26.0,27,1,1,"#Parent, #Schooling, #Woman Owned Biz",female,true,monthly,field_partner
184,956167,Buenas Vecinas Group,Spanish,La A.C. “BUENAS VECINAS” iniciará el sexto cic...,The “BUENAS VECINAS” [Good Neighbors] communal...,2600.0,4525.0,expired,Clothing Sales,Clothing,...,NaN,12.0,87,1,1,"#Repeat Borrower, #Parent, user_favorite, user...","female, female, female, female, female, male, ...","true, true, true, true, true, true, true, true...",monthly,field_partner

In [23]:
df1_filtered = df1[['loan_amount', 'funded_amount', 'status', 'sector_name', 'repayment_interval']]

# General summary statistics for numeric variables
summary_stats = df1_filtered[['loan_amount', 'funded_amount']].describe()

# Count of loan statuses
status_counts = df1_filtered['status'].value_counts()

In [34]:
import pandas as pd

# Load dataset
df1 = pd.read_csv("/Users/jakubriha/Desktop/ECO225/Project/Data/loans.csv")

# Select relevant variables
df1_filtered = df1[['loan_amount', 'funded_amount', 'status', 'sector_name', 'repayment_interval']]

# General summary statistics for numeric variables
summary_stats = df1_filtered[['loan_amount', 'funded_amount']].describe()
print("Summary Statistics:\n", summary_stats)

# Count of loan statuses
status_counts = df1_filtered['status'].value_counts()
print("\nLoan Status Counts:\n", status_counts)

# Mean and median loan amounts by status
loan_stats_by_status = df1_filtered.groupby('status')[['loan_amount', 'funded_amount']].agg(['mean', 'median', 'count'])
print("\nLoan Stats by Status:\n", loan_stats_by_status)

# Loan amount distribution by sector
loan_by_sector = df1_filtered.groupby('sector_name')['loan_amount'].describe()
print("\nLoan Amount by Sector:\n", loan_by_sector)

# Loan amount distribution by repayment interval
loan_by_repayment = df1_filtered.groupby('repayment_interval')['loan_amount'].describe()
print("\nLoan Amount by Repayment Interval:\n", loan_by_repayment)

Summary Statistics:
         loan_amount  funded_amount
count  1.419607e+06   1.419607e+06
mean   8.322284e+02   7.961254e+02
std    1.080551e+03   1.034257e+03
min    2.500000e+01   0.000000e+00
25%    3.000000e+02   2.750000e+02
50%    5.000000e+02   5.000000e+02
75%    1.000000e+03   9.500000e+02
max    1.000000e+05   1.000000e+05

Loan Status Counts:
 status
funded         1350340
expired          59081
refunded          6578
fundRaising       3608
Name: count, dtype: int64

Loan Stats by Status:
              loan_amount                  funded_amount
                    mean  median    count          mean median    count
status
expired      1526.550837  1075.0    59081    752.704846  525.0    59081
fundRaising  1147.034368   825.0     3608    182.171563   50.0     3608
funded        800.154424   500.0  1350340    800.154591  500.0  1350340
refunded     1007.620097   650.0     6578    695.741867  462.5     6578

Loan Amount by Sector:
                    count         mean          std   min    25%    50%  \
sector_name
Agriculture     345950.0   793.687672   983.876357  25.0  300.0  525.0
Arts             28003.0   933.474985  1289.100593  25.0  300.0  500.0
Clothing         81255.0  1029.238816  1215.943061  25.0  350.0  625.0
Construction     18884.0   952.984008  1117.574184  25.0  400.0  700.0
Education        45647.0   991.485749  1092.881863  25.0  400.0  725.0
Entertainment     2112.0  1350.958807  1712.094545  25.0  425.0  725.0
Food            322425.0   824.427774  1079.681066  25.0  275.0  500.0
Health           16581.0  1045.377239  1528.689587  50.0  400.0  725.0
Housing          60109.0   741.950873   708.517664  25.0  325.0  550.0
Manufacturing    15880.0   862.923489  1061.918083  25.0  350.0  600.0
Personal Use     51460.0   455.234648   614.312357  25.0  125.0  200.0
Retail          286887.0   799.270183  1080.022826  25.0  275.0  500.0
Services        103229.0  1015.109611  1323.219221  25.0  350.0  600.0
Transportation   39075.0   746.568138   888.608931  50.0  300.0  500.0
Wholesale         2110.0  1347.985782  3386.109742  50.0  450.0  825.0

                    75%       max
sector_name
Agriculture     1000.00  100000.0
Arts            1000.00   50000.0
Clothing        1125.00   50000.0
Construction    1075.00   50000.0
Education       1175.00   50000.0
Entertainment   1331.25   10000.0
Food             925.00   50000.0
Health          1200.00   80000.0
Housing          950.00   49750.0
Manufacturing   1025.00   50000.0
Personal Use     600.00   13425.0
Retail           925.00   50000.0
Services        1100.00   50000.0
Transportation   975.00   50000.0
Wholesale       1200.00  100000.0

Loan Amount by Repayment Interval:
                        count        mean          std    min    25%    50%  \
repayment_interval
bullet              111568.0  859.563898  1258.248648   25.0  300.0  575.0
irregular           529446.0  708.128072  1160.611288   25.0  225.0  375.0
monthly             777971.0  913.236065   984.553902   25.0  375.0  650.0
weekly                 622.0  242.323151   227.746144  100.0  125.0  200.0

                       75%       max
repayment_interval
bullet              1000.0  100000.0
irregular            650.0  100000.0
monthly             1075.0  100000.0
weekly               350.0    5000.0