In [73]:
import pandas as pd  # Data manipulation
import numpy as np   # Numerical operations
import os            # Interacting with files

df1 = pd.read_csv("/Users/jakubriha/Desktop/ECO225/Project/Data/loans.csv")
df1.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'partner_id',
       'posted_time', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags', 'borrower_genders',
       'borrower_pictured', 'repayment_interval', 'distribution_model'],
      dtype='object')

In [74]:
df2 = pd.read_csv("/Users/jakubriha/Desktop/ECO225/Project/Data/kiva_loans.csv")
df2.columns

Index(['id', 'funded_amount', 'loan_amount', 'activity', 'sector', 'use',
       'country_code', 'country', 'region', 'currency', 'partner_id',
       'posted_time', 'disbursed_time', 'funded_time', 'term_in_months',
       'lender_count', 'tags', 'borrower_genders', 'repayment_interval',
       'date'],
      dtype='object')

In [75]:
df1.shape[0]

1419607

In [76]:
df2.shape[0]

671205

In [77]:
# Find common loan IDs
common_loans = df1[df1['loan_id'].isin(df2['id'])]

# Display the count of overlapping loan IDs
print(f"Number of overlapping loan IDs: {common_loans.shape[0]}")

Number of overlapping loan IDs: 671204

In [78]:
# Ensure loan ID column is named the same in both datasets
df2 = df2.rename(columns={'id': 'loan_id'})

# Perform the merge (inner join to keep only overlapping observations)
merged_df = df1.merge(df2, on='loan_id', how='inner')

# Display number of rows in the merged dataset
print(f"Number of observations in merged dataset: {merged_df.shape[0]}")

Number of observations in merged dataset: 671204

In [79]:
merged_df.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount_x', 'loan_amount_x', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code_x',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency_x', 'partner_id_x',
       'posted_time_x', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags_x',
       'borrower_genders_x', 'borrower_pictured', 'repayment_interval_x',
       'distribution_model', 'funded_amount_y', 'loan_amount_y', 'activity',
       'sector', 'use', 'country_code_y', 'country', 'region', 'currency_y',
       'partner_id_y', 'posted_time_y', 'disbursed_time', 'funded_time',
       'term_in_months', 'lender_count', 'tags_y', 'borrower_genders_y',
       'repayment_interval_y', 'date'],
      dtype='object')

In [87]:
merged_df.head()

,loan_id,loan_name,original_language,description,description_translated,funded_amount_x,loan_amount_x,status,activity_name,sector_name,...,partner_id_y,posted_time_y,disbursed_time,funded_time,term_in_months,lender_count,tags_y,borrower_genders_y,repayment_interval_y,date
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,126.0,2014-01-15 02:23:45+00:00,2013-12-22 08:00:00+00:00,2014-01-15 04:48:22+00:00,7.0,3,NaN,female,irregular,2014-01-15
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,201.0,2014-01-14 20:23:20+00:00,2013-12-20 08:00:00+00:00,2014-02-25 06:42:06+00:00,8.0,11,NaN,female,monthly,2014-01-14
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,245.0,2014-01-16 11:32:58+00:00,2014-01-09 08:00:00+00:00,2014-01-24 23:06:18+00:00,14.0,16,"#Woman Owned Biz, #Supporting Family, user_fav...",female,monthly,2014-01-16
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,171.0,2014-01-20 09:59:48+00:00,2014-01-17 08:00:00+00:00,2014-01-22 05:29:28+00:00,14.0,21,user_favorite,female,monthly,2014-01-20
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,123.0,2014-01-14 05:46:21+00:00,2013-12-17 08:00:00+00:00,2014-01-14 17:29:27+00:00,7.0,15,"#Animals, #Eco-friendly, #Sustainable Ag",male,bullet,2014-01-14

In [89]:
# Drop rows where any of the required columns have missing values
filtered_df = merged_df.dropna(subset=['funded_amount_x', 'loan_amount_x', 'country_code_x', 'borrower_genders_x'])

# Display number of remaining observations after filtering
print(f"Number of observations after filtering: {filtered_df.shape[0]}")

Number of observations after filtering: 654651

In [91]:
print((filtered_df['funded_amount_x'] == filtered_df['funded_amount_y']).all())
print((filtered_df['loan_amount_x'] == filtered_df['loan_amount_y']).all())
print((filtered_df['country_code_x'] == filtered_df['country_code_y']).all())
print((filtered_df['currency_x'] == filtered_df['currency_y']).all())
print((filtered_df['partner_id_x'] == filtered_df['partner_id_y']).all())
print((filtered_df['posted_time_x'] == filtered_df['posted_time_y']).all())
print((filtered_df['tags_x'] == filtered_df['tags_y']).all())
print((filtered_df['borrower_genders_x'] == filtered_df['borrower_genders_y']).all())
print((filtered_df['repayment_interval_x'] == filtered_df['repayment_interval_y']).all())

False
False
False
False
False
False
False
False
False

In [93]:
# Make an explicit copy to avoid SettingWithCopyWarning
filtered_df = filtered_df.copy()

# Now perform the column modifications for all _x and _y variables
filtered_df['funded_diff'] = filtered_df['funded_amount_x'] - filtered_df['funded_amount_y']
filtered_df['loan_diff'] = filtered_df['loan_amount_x'] - filtered_df['loan_amount_y']
filtered_df['country_code_diff'] = filtered_df['country_code_x'] != filtered_df['country_code_y']
filtered_df['currency_diff'] = filtered_df['currency_x'] != filtered_df['currency_y']
filtered_df['partner_id_diff'] = filtered_df['partner_id_x'] != filtered_df['partner_id_y']
filtered_df['posted_time_diff'] = filtered_df['posted_time_x'] != filtered_df['posted_time_y']
filtered_df['tags_diff'] = filtered_df['tags_x'] != filtered_df['tags_y']
filtered_df['borrower_genders_diff'] = filtered_df['borrower_genders_x'] != filtered_df['borrower_genders_y']
filtered_df['repayment_interval_diff'] = filtered_df['repayment_interval_x'] != filtered_df['repayment_interval_y']

# Count the number of discrepancies in categorical columns
categorical_differences = {
    'country_code_diff': filtered_df['country_code_diff'].sum(),
    'currency_diff': filtered_df['currency_diff'].sum(),
    'partner_id_diff': filtered_df['partner_id_diff'].sum(),
    'posted_time_diff': filtered_df['posted_time_diff'].sum(),
    'tags_diff': filtered_df['tags_diff'].sum(),
    'borrower_genders_diff': filtered_df['borrower_genders_diff'].sum(),
    'repayment_interval_diff': filtered_df['repayment_interval_diff'].sum()
}

print("Categorical Differences:")
for key, value in categorical_differences.items():
    print(f"{key}: {value}")

Categorical Differences:
country_code_diff: 52
currency_diff: 51
partner_id_diff: 13136
posted_time_diff: 654651
tags_diff: 171974
borrower_genders_diff: 667
repayment_interval_diff: 129

In [95]:
# Show some examples where posted_time differs
diff_posted_time = filtered_df[filtered_df['posted_time_x'] != filtered_df['posted_time_y']][['posted_time_x', 'posted_time_y']].head(10)
print(diff_posted_time)

                   posted_time_x              posted_time_y
0  2014-01-15 02:23:45.000 +0000  2014-01-15 02:23:45+00:00
1  2014-01-14 20:23:20.000 +0000  2014-01-14 20:23:20+00:00
2  2014-01-16 11:32:58.000 +0000  2014-01-16 11:32:58+00:00
3  2014-01-20 09:59:48.000 +0000  2014-01-20 09:59:48+00:00
4  2014-01-14 05:46:21.000 +0000  2014-01-14 05:46:21+00:00
5  2014-01-21 01:09:34.000 +0000  2014-01-21 01:09:34+00:00
6  2014-01-22 03:43:12.000 +0000  2014-01-22 03:43:12+00:00
7  2014-01-24 16:29:55.000 +0000  2014-01-24 16:29:55+00:00
8  2014-01-26 23:05:52.000 +0000  2014-01-26 23:05:52+00:00
9  2014-01-27 07:22:38.000 +0000  2014-01-27 07:22:38+00:00

In [97]:
# Show some examples where partner_id differs
diff_partner_id = filtered_df[filtered_df['partner_id_x'] != filtered_df['partner_id_y']][['partner_id_x', 'partner_id_y']].head(10)
print(diff_partner_id)

      partner_id_x  partner_id_y
486            NaN           NaN
517            NaN           NaN
637            NaN           NaN
664            NaN           NaN
1510           NaN           NaN
1724           NaN           NaN
3380           NaN           NaN
3722           NaN           NaN
5732           NaN           NaN
7817         145.0          59.0

In [99]:
# Step 1: Drop unnecessary columns
columns_to_drop = ['partner_id_x', 'partner_id_y', 'tags_x', 'tags_y', 'posted_time_y']  # Keep posted_time_x
filtered_df = filtered_df.drop(columns=columns_to_drop)

# Step 2: Drop observations where categorical variables (country_code, currency, borrower_genders, repayment_interval) don't match
filtered_df = filtered_df[
    (filtered_df['country_code_x'] == filtered_df['country_code_y']) &
    (filtered_df['currency_x'] == filtered_df['currency_y']) &
    (filtered_df['borrower_genders_x'] == filtered_df['borrower_genders_y']) &
    (filtered_df['repayment_interval_x'] == filtered_df['repayment_interval_y'])
]

# Step 3: Merge x and y columns, keeping only one version (since they should now be the same)
columns_to_rename = {
    'funded_amount_x': 'funded_amount',
    'loan_amount_x': 'loan_amount',
    'country_code_x': 'country_code',
    'currency_x': 'currency',
    'borrower_genders_x': 'borrower_genders',
    'repayment_interval_x': 'repayment_interval',
    'posted_time_x': 'posted_time',  # Keep only one version
}

# Rename columns and drop the duplicate y versions
filtered_df = filtered_df.rename(columns=columns_to_rename)
columns_to_drop_y = ['funded_amount_y', 'loan_amount_y', 'country_code_y', 'currency_y', 'borrower_genders_y', 'repayment_interval_y']
filtered_df = filtered_df.drop(columns=columns_to_drop_y)

# Display number of remaining observations after cleaning
print(f"Number of observations after cleaning: {filtered_df.shape[0]}")

Number of observations after cleaning: 653850

In [103]:
filtered_df.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'posted_time',
       'planned_expiration_time', 'disburse_time', 'raised_time',
       'lender_term', 'num_lenders_total', 'num_journal_entries',
       'num_bulk_entries', 'borrower_genders', 'borrower_pictured',
       'repayment_interval', 'distribution_model', 'activity', 'sector', 'use',
       'country', 'region', 'disbursed_time', 'funded_time', 'term_in_months',
       'lender_count', 'date', 'funded_diff', 'loan_diff', 'country_code_diff',
       'currency_diff', 'partner_id_diff', 'posted_time_diff', 'tags_diff',
       'borrower_genders_diff', 'repayment_interval_diff'],
      dtype='object')

In [105]:
# List of intermediary columns to drop
columns_to_drop_intermediary = [
    'funded_diff', 'loan_diff', 'country_code_diff',
    'currency_diff', 'partner_id_diff', 'posted_time_diff',
    'tags_diff', 'borrower_genders_diff', 'repayment_interval_diff'
]

# Drop the intermediary columns
filtered_df = filtered_df.drop(columns=columns_to_drop_intermediary)

# Display the final list of columns
print("Final dataset columns:")
print(filtered_df.columns)

# Display the final number of observations
print(f"Number of observations after final cleaning: {filtered_df.shape[0]}")

Final dataset columns:
Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'posted_time',
       'planned_expiration_time', 'disburse_time', 'raised_time',
       'lender_term', 'num_lenders_total', 'num_journal_entries',
       'num_bulk_entries', 'borrower_genders', 'borrower_pictured',
       'repayment_interval', 'distribution_model', 'activity', 'sector', 'use',
       'country', 'region', 'disbursed_time', 'funded_time', 'term_in_months',
       'lender_count', 'date'],
      dtype='object')
Number of observations after final cleaning: 653850